onlyBuiltDependencies[]="@prisma/client"
onlyBuiltDependencies[]="@prisma/engines"
onlyBuiltDependencies[]="prisma"
onlyBuiltDependencies[]="esbuild"
onlyBuiltDependencies[]="msgpackr-extract"
onlyBuiltDependencies[]="spawn-sync"
onlyBuiltDependencies[]="unrs-resolver"
onlyBuiltDependencies[]="lmdb"
onlyBuiltDependencies[]="subleveldown"
onlyBuiltDependencies[]="classic-level"
onlyBuiltDependencies[]="better-sqlite3"
